@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

img {
  border: none;
  outline: none;
  max-width: 100%; }

a {
  outline: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

input {
  outline: none; }
  input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"] {
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 10px; }
  input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

textarea {
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  resize: none;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px; }

@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans_regular_cyrillic/OpenSans-Regular-webfont.eot");
  src: url("/fonts/opensans_regular_cyrillic/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans_regular_cyrillic/OpenSans-Regular-webfont.ttf") format("truetype"), url("/fonts/opensans_regular_cyrillic/OpenSans-Regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "opensans-bold";
  src: url("/fonts/opensans_bold_cyrillic/OpenSans-Bold-webfont.eot");
  src: url("/fonts/opensans_bold_cyrillic/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans_bold_cyrillic/OpenSans-Bold-webfont.ttf") format("truetype"), url("/fonts/opensans_bold_cyrillic/OpenSans-Bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "opensans-italic";
  src: url("/fonts/opensans_italic_cyrillic/OpenSans-Italic-webfont.eot");
  src: url("/fonts/opensans_italic_cyrillic/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans_italic_cyrillic/OpenSans-Italic-webfont.ttf") format("truetype"), url("/fonts/opensans_italic_cyrillic/OpenSans-Italic-webfont.woff") format("woff"); }

@font-face {
  font-family: "ruble";
  src: url("/fonts/ruble/ruble-webfont.eot");
  src: url("/fonts/ruble/ruble-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ruble/ruble-webfont.ttf") format("truetype"), url("/fonts/ruble/ruble-webfont.woff") format("woff"); }

h1 {
  font-size: 24px;
  line-height: 36px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h1 {
      font-size: 36px;
      line-height: 54px; } }
  @media only screen and (min-width: 960px) {
    h1 {
      font-size: 48px;
      line-height: 72px; } }

h2 {
  font-size: 20px;
  line-height: 30px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h2 {
      font-size: 30px;
      line-height: 45px; } }
  @media only screen and (min-width: 960px) {
    h2 {
      font-size: 40px;
      line-height: 60px; } }

h3 {
  font-size: 19px;
  line-height: 28.5px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h3 {
      font-size: 25px;
      line-height: 37.5px; } }
  @media only screen and (min-width: 960px) {
    h3 {
      font-size: 31px;
      line-height: 46.5px; } }

h4 {
  font-size: 18px;
  line-height: 27px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h4 {
      font-size: 21px;
      line-height: 31.5px; } }
  @media only screen and (min-width: 960px) {
    h4 {
      font-size: 25px;
      line-height: 37.5px; } }

h5 {
  font-size: 17px;
  line-height: 25.5px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h5 {
      font-size: 18px;
      line-height: 27px; } }
  @media only screen and (min-width: 960px) {
    h5 {
      font-size: 20px;
      line-height: 30px; } }

h6 {
  font-size: 16px;
  line-height: 24px;
  font-family: "opensans", sans-serif; }
  @media only screen and (min-width: 671px) {
    h6 {
      font-size: 16px;
      line-height: 24px; } }
  @media only screen and (min-width: 960px) {
    h6 {
      font-size: 16px;
      line-height: 24px; } }

h1,
h2 {
  margin-bottom: 10px; }

p {
  margin-bottom: 10px; }

.b-typo-reset ul ul,
.b-typo-reset ol ol {
  padding-left: 80px; }

.b-typo-reset ul,
.b-typo-reset ol {
  margin-bottom: 10px; }
  .b-typo-reset ul li,
  .b-typo-reset ol li {
    font-size: 16px;
    line-height: 10px; }

.b-typo-reset ol {
  counter-reset: list; }
  .b-typo-reset ol li:before {
    counter-increment: list;
    content: counter(list);
    color: #000;
    padding-right: 20px;
    float: left; }

.b-typo-reset ul li:before {
  content: '•';
  color: #000;
  padding-right: 20px;
  float: left; }

b,
strong {
  font-family: "opensans-bold", sans-serif;
  font-weight: 700; }

i,
em {
  font-family: "opensans-italic", sans-serif;
  font-style: italic; }

html {
  font-size: 16px; }

body {
  font-family: "opensans", sans-serif;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%; }

a[href^='tel:'], a[href^='mailto:'] {
  white-space: nowrap; }

.hide {
  display: none; }

.show {
  display: block; }

.b-ruble {
  font-family: "ruble", sans-serif; }

.l-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: 100vh; }

.l-header {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.l-main {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%; }

.l-footer {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.b-logo {
  background-image: url("/img/sprites.png");
  background-position: 0px 0px;
  width: 150px;
  height: 150px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  display: block; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-logo {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-btn {
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  font-size: 16px;
  line-height: 10px;
  font-family: "opensans", sans-serif;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding-left: 20px;
  padding-right: 20px; }
  .b-btn:hover, .b-btn:focus {
    text-decoration: none; }
    @media only screen and (min-width: 1280px) {
      .b-btn:hover, .b-btn:focus {
        color: #000;
        background-color: #fff;
        border-color: #fff; } }

.b-btn.is-disabled,
.b-btn[disabled] {
  background-color: #eee;
  color: #ccc;
  border-color: transparent;
  cursor: default; }
  .b-btn.is-disabled:hover, .b-btn.is-disabled:focus,
  .b-btn[disabled]:hover,
  .b-btn[disabled]:focus {
    border-color: transparent; }

.b-btn_width_auto {
  width: auto;
  padding-left: 20px;
  padding-right: 20px; }

.b-btn_tt_uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 5px;
  padding-bottom: 3px; }

.b-btn_height_small {
  line-height: 3px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 8px; }

.b-btn_height_medium {
  line-height: 8px;
  padding-top: 0;
  padding-bottom: 0; }

.b-btn_height_big {
  padding-top: 1.5px;
  padding-bottom: 1.5px; }

.b-btn_height_large {
  padding-top: 4px;
  padding-bottom: 4px; }

.l-bnt-up {
  transition: bottom .15s ease;
  position: fixed;
  bottom: -48px;
  left: 3px;
  right: 3px;
  z-index: 3; }
  .l-bnt-up.is-nav-up {
    bottom: 3px; }
  @media only screen and (min-width: 960px) {
    .l-bnt-up {
      left: 63px; } }
  @media only screen and (min-width: 1280px) {
    .l-bnt-up {
      display: none; } }

input[type='text'], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"], textarea {
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  font-family: "opensans", sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  outline: none;
  width: 100%;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0; }
  input[type='text']::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-size: 16px;
    opacity: 1; }
  input[type='text']::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="url"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc;
    font-style: italic;
    font-size: 16px;
    opacity: 1; }
  input[type='text']:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
    font-size: 16px;
    opacity: 1; }
  input[type='text']::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="search"]::placeholder, input[type="url"]::placeholder, textarea::placeholder {
    color: #ccc;
    font-style: italic;
    font-size: 16px;
    opacity: 1; }
  input[type='text']:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus {
    border-color: #663399; }
  input[type='text']::-ms-clear, input[type="password"]::-ms-clear, input[type="tel"]::-ms-clear, input[type="email"]::-ms-clear, input[type="search"]::-ms-clear, input[type="url"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input[type='text'], input[type="password"], input[type="tel"], input[type="email"], input[type="search"], input[type="url"] {
  line-height: 18px;
  height: 18px; }

textarea {
  line-height: 10px;
  min-height: 50px; }

label {
  font-size: 16px;
  line-height: 10px;
  color: #000;
  font-family: "opensans-bold", sans-serif;
  margin-bottom: 2.5px;
  display: inline-block; }

.b-form__checkbox {
  display: inline-block; }
  .b-form__checkbox input {
    display: none; }
  .b-form__checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 40px; }
    .b-form__checkbox label:after {
      background-image: url("/img/sprites.png");
      background-position: -186px -103px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      margin-top: -10px;
      left: 0;
      content: ''; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        .b-form__checkbox label:after {
          background-image: url("/img/sprites@2x.png");
          background-size: 271px 191px; } }
  .b-form__checkbox input:checked + label:after {
    background-image: url("/img/sprites.png");
    background-position: -112px -151px;
    width: 20px;
    height: 20px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
      .b-form__checkbox input:checked + label:after {
        background-image: url("/img/sprites@2x.png");
        background-size: 271px 191px; } }

.b-form__checkbox:hover label:after {
  background-image: url("/img/sprites.png");
  background-position: -91px -151px;
  width: 20px;
  height: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-form__checkbox:hover label:after {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-form__checkbox:hover input:checked + label:after {
  opacity: .75; }

.b-form__checkbox input:disabled + label,
.b-form__checkbox input[readonly="readonly"] + label {
  cursor: default; }

.b-form__checkbox input:disabled + label:after,
.b-form__checkbox input[readonly="readonly"] + label:after {
  background-image: url("/img/sprites.png");
  background-position: -70px -151px;
  width: 20px;
  height: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-form__checkbox input:disabled + label:after,
    .b-form__checkbox input[readonly="readonly"] + label:after {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-form__radio {
  display: inline-block; }
  .b-form__radio input {
    display: none; }
  .b-form__radio label {
    position: relative;
    display: inline-block;
    padding-left: 36px; }
    .b-form__radio label:after {
      background-image: url("/img/sprites.png");
      background-position: -87px -172px;
      width: 16px;
      height: 17px;
      position: absolute;
      top: 5px;
      margin-top: -8.5px;
      left: 0;
      content: ''; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        .b-form__radio label:after {
          background-image: url("/img/sprites@2x.png");
          background-size: 271px 191px; } }
  .b-form__radio input:checked + label:after {
    background-image: url("/img/sprites.png");
    background-position: -70px -172px;
    width: 16px;
    height: 17px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
      .b-form__radio input:checked + label:after {
        background-image: url("/img/sprites@2x.png");
        background-size: 271px 191px; } }

.b-form__radio:hover label:after {
  background-image: url("/img/sprites.png");
  background-position: -104px -172px;
  width: 16px;
  height: 17px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-form__radio:hover label:after {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-form__radio:hover input:checked + label:after {
  opacity: .75; }

.b-form__radio input:disabled + label,
.b-form__radio input[readonly="readonly"] + label {
  cursor: default; }

.b-form__radio input:disabled + label:after,
.b-form__radio input[readonly="readonly"] + label:after {
  background-image: url("/img/sprites.png");
  background-position: -121px -172px;
  width: 16px;
  height: 17px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-form__radio input:disabled + label:after,
    .b-form__radio input[readonly="readonly"] + label:after {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-popup {
  color: #000;
  background-color: #fff;
  min-height: 100%;
  border-radius: 0; }
  @media only screen and (min-width: 671px) {
    .b-popup {
      position: static;
      height: auto;
      width: auto;
      min-height: inherit; } }

.b-popup__close {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "opensans", sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 10px;
  text-decoration: none;
  display: block;
  text-align: center; }
  .b-popup__close:active {
    color: white;
    background-color: #1a1a1a; }

@media only screen and (min-width: 671px) {
  .b-popup__close {
    background-image: url("/img/sprites.png");
    background-position: -212px -102px;
    width: 43px;
    height: 44px;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    padding: 0; } }
  @media only screen and (min-width: 671px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 671px) and (min-device-pixel-ratio: 1.5) {
    .b-popup__close {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

@media only screen and (min-width: 671px) {
  .b-popup__close:active {
    background-color: transparent; }
  .b-popup__close:hover {
    opacity: 1 !important; }
  .mfp-container:hover {
    cursor: pointer; }
    .mfp-container:hover .b-popup__close {
      opacity: 1; }
  .mfp-content:hover .b-popup__close {
    opacity: 0.5; } }

.b-popup__cnt {
  padding: 10px 20px; }
  @media only screen and (min-width: 671px) {
    .b-popup__cnt {
      padding: 20px; } }

@media only screen and (min-width: 671px) {
  .mfp-inline-holder .mfp-content,
  .mfp-ajax-holder .mfp-content {
    width: auto;
    max-width: 960px;
    margin: 40px 0; } }

.mfp-wrap {
  opacity: 1;
  -webkit-overflow-scrolling: touch; }

.mfp-bg {
  background-color: #000;
  opacity: 0.8; }

.mfp-container {
  padding: 0; }

.mfp-content {
  height: 100%; }
  @media only screen and (min-width: 671px) {
    .mfp-content {
      height: auto; } }

.b-popup_full_size .mfp-inline-holder .mfp-content,
.b-popup_full_size .mfp-ajax-holder .mfp-content {
  max-width: none;
  height: 100%;
  width: 100%; }

.b-popup_full_size .b-popup {
  min-height: 100%; }

.b-popup_theme_toggle.mfp-bg {
  transition-property: opacity;
  transition-timing-function: ease;
  opacity: 0; }
  .b-popup_theme_toggle.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .b-popup_theme_toggle.mfp-bg.mfp-removing {
    opacity: 0; }

.b-popup_theme_toggle.mfp-wrap {
  transition-property: opacity;
  transition-timing-function: ease;
  opacity: 0; }
  .b-popup_theme_toggle.mfp-wrap.mfp-ready {
    opacity: 1; }
  .b-popup_theme_toggle.mfp-wrap.mfp-removing {
    opacity: 0; }

.b-popup_theme_map .b-popup__cnt {
  padding: 0; }

.b-popup_theme_map .b-map__base {
  height: calc(100vh - 18px); }

.b-gallery {
  position: relative; }

.b-gallery__arrow {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  position: absolute;
  top: 50%; }
  .b-gallery__arrow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .b-gallery__arrow.is-disabled {
    display: none; }

.b-gallery__arrow_show_prev {
  background-image: url("/img/sprites.png");
  background-position: -151px 0px;
  width: 60px;
  height: 102px;
  margin-top: -51px;
  left: 8.33333%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-gallery__arrow_show_prev {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.b-gallery__arrow_show_next {
  background-image: url("/img/sprites.png");
  background-position: -212px 0px;
  width: 59px;
  height: 101px;
  margin-top: -50.5px;
  right: 8.33333%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    .b-gallery__arrow_show_next {
      background-image: url("/img/sprites@2x.png");
      background-size: 271px 191px; } }

.fotorama__nav--thumbs {
  text-align: center; }

.fotorama__thumb-border {
  border-color: #000;
  background-color: rgba(0, 0, 0, 0.2); }

.fotorama-lbl {
  font-size: 12px;
  line-height: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 100%;
  color: #000;
  font-family: "opensans", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #fff;
  padding: 0 20px;
  z-index: 1;
  top: -10px; }

.fotorama__nav {
  background-color: #eee; }

.fotorama__nav__shaft {
  margin-top: 10px; }

.fotorama__dot {
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border: 1px solid #000;
  width: 5px;
  height: 5px; }
  .fotorama__dot:hover {
    border-color: #4d4d4d; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  border-width: 2.5px; }

.fotorama__nav--dots {
  text-align: center;
  padding: 0 0;
  background-color: #eee; }

.fotorama__stage__frame {
  background-color: #eee; }

.fotorama__caption__wrap {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-family: "opensans-bold", sans-serif;
  text-align: left; }

.b-gallery__increase {
  font-size: 16px;
  line-height: 24px;
  font-family: "opensans", sans-serif;
  color: #fff;
  border-bottom: 1px dashed #fff;
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 1;
  display: none; }
  .b-gallery__increase:hover {
    text-decoration: none; }
  @media only screen and (min-width: 671px) {
    .b-gallery__increase {
      display: block; } }

.b-popup .b-gallery__increase {
  display: none; }

.l-map {
  position: relative; }

.b-map__base {
  width: 100%;
  height: 500px; }

.b-map__base[data-noinit] {
  display: none; }
  @media only screen and (min-width: 671px) {
    .b-map__base[data-noinit] {
      display: block; } }

.b-map__cnt {
  position: relative; }

.b-map__mobile {
  position: relative; }
  @media only screen and (min-width: 671px) {
    .b-map__mobile {
      display: none; } }

.b-map__img {
  width: 100%;
  height: 320px;
  background: url("/img/map/mobile-view.jpg");
  background-size: cover; }

.b-map__btn {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 30px; }

.b-map__zoom {
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: none;
  background-color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 20px;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2); }
  .b-map__zoom:hover, .b-map__zoom:focus {
    text-decoration: none;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3); }
  .b-map__zoom:active {
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 671px) {
    .b-map__zoom {
      display: block; } }

.b-map__zoom-in {
  top: 43%; }

.b-map__zoom-out {
  top: 55%; }

.b-popup .b-map__zoom {
  display: block; }

.b-map-tooltip {
  border: 2px solid #ff0000;
  padding: 10px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  color: #000;
  text-align: center;
  width: auto;
  min-width: 250px;
  max-width: 250px; }
  .b-map-tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 11px solid #fff;
    content: '';
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -12px; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
      .b-map-tooltip:after {
        bottom: -10px; } }
  @media only screen and (min-width: 671px) {
    .b-map-tooltip {
      max-width: none; } }

.b-map-tooltip__title {
  font-size: 16px;
  line-height: 10px;
  font-family: "opensans", sans-serif; }

.b-map-tooltip__arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top-width: 13px;
  border-top-style: solid;
  border-top-color: inherit;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -14px; }

.b-map-tooltip__close {
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px; }

.gm-style img {
  max-width: 100%; }

.b-nav__item, .b-nav__subitem {
  float: left;
  margin-right: 20px; }
  .b-nav__item:last-child, .b-nav__subitem:last-child {
    margin-right: 0; }

.b-nav__link, .b-nav__sublink {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  font-size: 17px;
  line-height: 10px;
  color: #000;
  font-family: "opensans", sans-serif;
  text-decoration: none; }
  .is-active.b-nav__link, .is-active.b-nav__sublink {
    color: #ffa500; }
    .is-active.b-nav__link:hover, .is-active.b-nav__sublink:hover {
      text-decoration: none;
      color: #ffa500; }
  .b-nav__link:hover, .b-nav__sublink:hover {
    color: #ff0000; }

.b-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative; }

.b-nav__item {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  @media only screen and (min-width: 671px) {
    .b-nav__item {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; } }

.b-nav__sublist {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  display: none; }

.b-nav__item:hover .b-nav__sublist {
  display: block; }

.b-nav__link_is_sublist .b-nav__link {
  position: relative;
  padding-right: 31px; }
  .b-nav__link_is_sublist .b-nav__link:after {
    background-image: url("/img/sprites.png");
    background-position: -256px -123px;
    width: 11px;
    height: 6px;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0;
    content: ''; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
      .b-nav__link_is_sublist .b-nav__link:after {
        background-image: url("/img/sprites@2x.png");
        background-size: 271px 191px; } }

.b-nav__link_is_sublist:hover .b-nav__link:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }
