$sprites-map : (
  al-b-back-link-dark: (87px, 213px, -87px, -213px, 18px, 15px, 271px, 230px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (68px, 213px, -68px, -213px, 18px, 15px, 271px, 230px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (256px, 114px, -256px, -114px, 11px, 8px, 271px, 230px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (41px, 192px, -41px, -192px, 23px, 13px, 271px, 230px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (65px, 192px, -65px, -192px, 23px, 13px, 271px, 230px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (89px, 192px, -89px, -192px, 16px, 13px, 271px, 230px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (256px, 102px, -256px, -102px, 15px, 11px, 271px, 230px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (21px, 192px, -21px, -192px, 19px, 18px, 271px, 230px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (106px, 213px, -106px, -213px, 18px, 14px, 271px, 230px, '/img/sprites.png', 'al-b-select-options', ),
  b-kelnik-big: (151px, 103px, -151px, -103px, 60px, 34px, 271px, 230px, '/img/sprites.png', 'b-kelnik-big', ),
  b-kelnik-medium: (105px, 151px, -105px, -151px, 48px, 27px, 271px, 230px, '/img/sprites.png', 'b-kelnik-medium', ),
  b-kelnik: (154px, 151px, -154px, -151px, 41px, 23px, 271px, 230px, '/img/sprites.png', 'b-kelnik', ),
  building__sort_style_asc: (256px, 136px, -256px, -136px, 9px, 5px, 271px, 230px, '/img/sprites.png', 'building__sort_style_asc', ),
  building__sort_style_desc: (256px, 130px, -256px, -130px, 9px, 5px, 271px, 230px, '/img/sprites.png', 'building__sort_style_desc', ),
  checkbox-checked: (196px, 151px, -196px, -151px, 20px, 20px, 271px, 230px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (0px, 192px, 0px, -192px, 20px, 20px, 271px, 230px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (217px, 151px, -217px, -151px, 20px, 20px, 271px, 230px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (238px, 151px, -238px, -151px, 20px, 20px, 271px, 230px, '/img/sprites.png', 'checkbox', ),
  document-doc: (35px, 151px, -35px, -151px, 34px, 40px, 271px, 230px, '/img/sprites.png', 'document-doc', ),
  document-pdf: (0px, 151px, 0px, -151px, 34px, 40px, 271px, 230px, '/img/sprites.png', 'document-pdf', ),
  document-xls: (70px, 151px, -70px, -151px, 34px, 40px, 271px, 230px, '/img/sprites.png', 'document-xls', ),
  gallery-next: (212px, 0px, -212px, 0px, 59px, 101px, 271px, 230px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (151px, 0px, -151px, 0px, 60px, 102px, 271px, 230px, '/img/sprites.png', 'gallery-prev', ),
  logo: (0px, 0px, 0px, 0px, 150px, 150px, 271px, 230px, '/img/sprites.png', 'logo', ),
  nav-sublist: (256px, 123px, -256px, -123px, 11px, 6px, 271px, 230px, '/img/sprites.png', 'nav-sublist', ),
  popup-close: (212px, 102px, -212px, -102px, 43px, 44px, 271px, 230px, '/img/sprites.png', 'popup-close', ),
  radio-checked: (17px, 213px, -17px, -213px, 16px, 17px, 271px, 230px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (0px, 213px, 0px, -213px, 16px, 17px, 271px, 230px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (51px, 213px, -51px, -213px, 16px, 17px, 271px, 230px, '/img/sprites.png', 'radio-hover', ),
  radio: (34px, 213px, -34px, -213px, 16px, 17px, 271px, 230px, '/img/sprites.png', 'radio', ),
);
