$sprites-map : (
  al-b-back-link-dark: (157px, 172px, -157px, -172px, 18px, 15px, 271px, 191px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (138px, 172px, -138px, -172px, 18px, 15px, 271px, 191px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (256px, 114px, -256px, -114px, 11px, 8px, 271px, 191px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (133px, 151px, -133px, -151px, 23px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (157px, 151px, -157px, -151px, 23px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (181px, 151px, -181px, -151px, 16px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (256px, 102px, -256px, -102px, 15px, 11px, 271px, 191px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (186px, 124px, -186px, -124px, 19px, 18px, 271px, 191px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (176px, 172px, -176px, -172px, 18px, 14px, 271px, 191px, '/img/sprites.png', 'al-b-select-options', ),
  building__sort_style_asc: (256px, 136px, -256px, -136px, 9px, 5px, 271px, 191px, '/img/sprites.png', 'building__sort_style_asc', ),
  building__sort_style_desc: (256px, 130px, -256px, -130px, 9px, 5px, 271px, 191px, '/img/sprites.png', 'building__sort_style_desc', ),
  checkbox-checked: (112px, 151px, -112px, -151px, 20px, 20px, 271px, 191px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (70px, 151px, -70px, -151px, 20px, 20px, 271px, 191px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (91px, 151px, -91px, -151px, 20px, 20px, 271px, 191px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (186px, 103px, -186px, -103px, 20px, 20px, 271px, 191px, '/img/sprites.png', 'checkbox', ),
  document-doc: (35px, 151px, -35px, -151px, 34px, 40px, 271px, 191px, '/img/sprites.png', 'document-doc', ),
  document-pdf: (0px, 151px, 0px, -151px, 34px, 40px, 271px, 191px, '/img/sprites.png', 'document-pdf', ),
  document-xls: (151px, 103px, -151px, -103px, 34px, 40px, 271px, 191px, '/img/sprites.png', 'document-xls', ),
  gallery-next: (212px, 0px, -212px, 0px, 59px, 101px, 271px, 191px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (151px, 0px, -151px, 0px, 60px, 102px, 271px, 191px, '/img/sprites.png', 'gallery-prev', ),
  logo: (0px, 0px, 0px, 0px, 150px, 150px, 271px, 191px, '/img/sprites.png', 'logo', ),
  nav-sublist: (256px, 123px, -256px, -123px, 11px, 6px, 271px, 191px, '/img/sprites.png', 'nav-sublist', ),
  popup-close: (212px, 102px, -212px, -102px, 43px, 44px, 271px, 191px, '/img/sprites.png', 'popup-close', ),
  radio-checked: (70px, 172px, -70px, -172px, 16px, 17px, 271px, 191px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (121px, 172px, -121px, -172px, 16px, 17px, 271px, 191px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (104px, 172px, -104px, -172px, 16px, 17px, 271px, 191px, '/img/sprites.png', 'radio-hover', ),
  radio: (87px, 172px, -87px, -172px, 16px, 17px, 271px, 191px, '/img/sprites.png', 'radio', ),
);
